---
import { getCollection } from 'astro:content';
import { ShootingStars } from '@/components/react/ShootingStars';
import { StarsBackground } from '@/components/react/StarBackground';
import Layout from '@/layouts/Layout.astro';
import BlogCard from '@/components/ui/BlogCard.astro';


const allPosts = await getCollection('blog', ({ data }) => {
  return data.draft !== true;
});


const posts = allPosts.sort((a, b) => {
  return new Date(b.data.date).getTime() - new Date(a.data.date).getTime();
});


const featuredPosts = posts.filter(post => post.data.featured);
const regularPosts = posts.filter(post => !post.data.featured);

---
  
  <Layout title="NOUS Blog" backgroundType="primary" showAurora={false} useContainer={true}>
       <section class="mx-auto max-w-7xl px-4 py-6 pt-64 sm:pt-48">
           <h1 class="mb-6 text-5xl font-semibold tracking-tight text-neutral-100 text-center">Blog</h1>
           <h2 class="mb-6 text-4xl font-semibold tracking-tight text-accent text-center">Insights & Articles</h2>
           <p class="mb-24 text-base text-neutral-400 text-center">Sharp takes, field notes, and working playbooks on AI, web, and tech decisions—written for people who ship.</p>
         
         <!-- Posts Destacados -->
         {featuredPosts.length > 0 && (
           <div class="mb-12">
             <h3 class="mb-8 text-2xl font-semibold text-accent sm:text-3xl">
               Featured Articles
             </h3>
             <div class="grid grid-cols-1 gap-6 sm:gap-8 lg:grid-cols-2">
               {featuredPosts.map((post) => (
                 <BlogCard post={post} featured={true} />
               ))}
             </div>
           </div>
         )}

         <!-- Todos los Posts -->
         <div class="grid grid-cols-1 gap-6 sm:grid-cols-2 sm:gap-8 lg:grid-cols-3">
           {posts.map((post) => (
             <BlogCard post={post} featured={post.data.featured} />
           ))}
         </div>
         </section>

         <div class="absolute inset-0 pointer-events-none overflow-hidden z-[-1]">
          <div class="absolute inset-0 [mask-image:radial-gradient(ellipse_at_center_10%,black_20%,transparent_70%)] opacity-60">
              <ShootingStars client:load 
              minDelay={1000}
              maxDelay={1500}
              starColor="#1AD6B3"
              starHeight={2}
              starWidth={20}
             />
              <StarsBackground client:load />
          </div>
        </div>
      
</Layout>