---

import ScheduleIcon from "@/components/icons/ScheduleIcon.astro"
import ArrowIcon from "@/components/icons/arrowIcon.astro"

interface Props {
  href?: string;
  text?: string;
  variant?: "primary" | "secondary" | "primaryPurple" | "secondaryTurquoise" | "darkBlue";
  className?: string;
  scheduleIcon?: boolean;
  arrowIcon?: boolean;
  strokeColor?: string;
  width?: string;
  target?: "_blank" | "_self" | "_parent" | "_top";
  ariaLabel?: string;
  rounded?: string;
  justify?: string;
}

const {
  target = "_self",
  width = "auto",
  href="contact",
  text,
  variant = "primary",
  className = "",
  scheduleIcon = false,
  arrowIcon = false,
  strokeColor = "#8458FF",
  ariaLabel = "Button",
  rounded = "full",
  justify = "center",
} = Astro.props;

const baseStyles = `px-5 py-1 font-medium rounded-${rounded} transition-all duration-300 group flex justify-${justify} items-center gap-2 w-auto md:w-${width} cursor-pointer`;

const variants = {
  primary: "bg-accent text-primary-blue hover:bg-hover hover:shadow-[0_0_8px_0_rgba(0,0,0,0.1)] hover:shadow-accent",
  secondary:
    " text-primary-blue hover:bg-primary-blue hover:text-outline border border-primary-blue",
  primaryPurple:
    "bg-transparent border-2 border-outline text-accent hover:bg-outline hover:text-primary-blue",
  secondaryTurquoise:
    "border-2 border-primary-turquoise text-primary-turquoise hover:bg-primary-turquoise/30",
  darkBlue:
    "bg-primary-blue text-outline hover:bg-primary-blue/90",
};
---


<a
  href={href}
  aria-label={ariaLabel}
  target={target}
  class:list={[baseStyles, variants[variant], className]}
>
  {text}
  {
    scheduleIcon && (
      <ScheduleIcon strokeColor={strokeColor}/>
    )
  }
  {
    arrowIcon && (
      <ArrowIcon strokeColor={strokeColor}/>
    )
  }
</a>

