---
import GradientTittle from '@/components/ui/Tittles/GradientTittle.astro'
import Inputs from '@/components/ui/Inputs.astro'
import SubmitButton from '@/components/ui/Buttons/SubmitButton.astro'
import { actions } from 'astro:actions'

export const prerender = false;

const chips = [
    { id: 'software-consulting', label: 'Software Consulting', value: 'software-consulting' },
    { id: 'web-development', label: 'Web Development', value: 'web-development' },
    { id: 'ai-automation', label: 'AI Automation', value: 'ai-automation' },
  ];
---

<div class="w-auto">
    <GradientTittle title="Let's build your next big idea Contact us today!"/>
    <form class="flex flex-col gap-4" method="POST" action={actions.sendContactForm}>
        
<div class="flex flex-col gap-4">
  <label for="interests" class="block text-lg font-medium text-gray-400">I'm interested in:</label>
   <div class="flex flex-wrap gap-2">
    {chips.map((chip) => (
      <div>
        <input 
          type="checkbox" 
          id={chip.id} 
          name="interests" 
          value={chip.value}
          class="sr-only peer"
        />
        <label 
          for={chip.id} 
          class="inline-flex items-center px-4 py-2 rounded-full border-2 border-gray-300 
                 cursor-pointer transition-all duration-200 
                 hover:border-primary-turquoise hover:bg-primary-turquoise hover:text-primary-blue
                 peer-checked:bg-primary-turquoise peer-checked:text-primary-blue peer-checked:border-primary-turquoise"
        >
          {chip.label}
        </label>
      </div>
    ))}
   </div>
  </div>
        <Inputs type="text" placeholder="Name" name="name"/>
        <Inputs type="email" placeholder="Email" name="email"/>
        <Inputs type="text" placeholder="Subject" name="subject"/>
        <Inputs type="textarea" placeholder="Message" name="message"/>
        <div class="flex justify-center mt-2">
            <SubmitButton type="submit" text="Send" icon={true} variant="secondary"/>
        </div>
    </form>
</div>

