---
import GradientTittle from '@/components/ui/Tittles/GradientTittle.astro'
import Inputs from '@/components/ui/Inputs.astro'
import SubmitButton from '@/components/ui/Buttons/SubmitButton.astro'
const chips = [
    { id: 'software-consulting', label: 'Software Consulting', value: 'software-consulting' },
    { id: 'web-development', label: 'Web Development', value: 'web-development' },
    { id: 'ai-automation', label: 'AI Automation', value: 'ai-automation' },
  ];
---

<div class="w-auto">
    <GradientTittle title="Let’s build your next big idea Contact us today!"/>
    <form class="flex flex-col gap-4">
        <!-- components/ui/SelectableChips.astro -->
<div class="flex flex-wrap gap-4">
    {chips.map((chip) => (
      <div>
        <input 
          type="checkbox" 
          id={chip.id} 
          name="interests" 
          value={chip.value}
          class="sr-only peer"
        />
        <label 
          for={chip.id} 
          class="inline-flex items-center px-4 py-2 rounded-full border-2 border-gray-300 
                 cursor-pointer transition-all duration-200 
                 hover:border-primary-turquoise hover:bg-primary-turquoise hover:text-primary-blue
                 peer-checked:bg-primary-turquoise peer-checked:text-primary-blue peer-checked:border-primary-turquoise"
        >
          {chip.label}
        </label>
      </div>
    ))}
  </div>
        <Inputs type="text" placeholder="Name"/>
        <Inputs type="email" placeholder="Email"/>
        <Inputs type="text" placeholder="Subject"/>
        <Inputs type="textarea" placeholder="Message"/>
        <div class="flex justify-between mt-2">
            <SubmitButton text="Contact with us" icon={true} variant="secondary"/>
            <SubmitButton text="Schedule with us" icon={false} variant="secondaryTurquoise"/>
        </div>
    </form>
</div>

