---
import { type CallToActionProps, defaultSections } from '@/types/callToAction';
import ButtonVariant from '@/components/ui/Buttons/ButtonVariant.astro';


const { 
    sections = defaultSections, 
    className = "w-full mt-12 mb-32",
} = Astro.props as CallToActionProps;
---

<section class={className} aria-labelledby="cta-heading">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 md:gap-6 w-full relative">
        
        {sections?.map((section, index) => (
            <article class={`flex flex-col gap-4 ${section.style.background} ${section.style.textColor} p-4 md:p-6 rounded-xl relative overflow-hidden shadow-[0_0_100px_0_rgba(0,0,0,0.5)] shadow-white/14`}>
                <div class="space-y-2">
                    <h2 id={`cta-section-${index}`} class={`text-3xl md:text-4xl font-bold ${section.style.titleColor}`}>
                        {section.title}
                    </h2>
                    {section.subtitle && (
                        <h3 class="text-sm md:text-lg opacity-90">
                            {section.subtitle}
                        </h3>
                    )}
                </div>
                <p class="text-lg md:text-xl">{section.description}</p>
                <footer class="flex flex-col sm:flex-col lg:flex-row gap-4 mt-2">
                    {section.buttons.map(button => (
                        <ButtonVariant
                            text={button.text}
                            variant={button.variant}
                            scheduleIcon={button.icon}
                            href={button.href}
                            target={button.target}
                            ariaLabel={button.ariaLabel}
                        />
                    ))}
                </footer>
            </article>
        ))}
    </div>
</section>